<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BMI CHECKER</title>
    
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
        
        <style media="screen">
          *,
    *:before,
    *:after{
        padding: 0;
        margin: 0;
    }
    body{
        background-color: #e0c7c8;
}

  
    </style>
    
    
    </head>
<body>
    <br><h1>Height Convertion</h1><br>
    <br>Your Height in Inches multiplied 2.54 <br>
    <br>Centimeter = (Inches*2.54)<br>
    <br><h3>Your Height in centimeter is {{params1}} </h3>
    <br>
    <a href="{% url 'home' %}" >Check BMI</a>
    <br>
</body>
</html>